@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-fnqwenpaw-50: #FFF9F5;
  --color-fnqwenpaw-100: #FEF0E0;
  --color-fnqwenpaw-200: #FDE0C0;
  --color-fnqwenpaw-300: #FCC898;
  --color-fnqwenpaw-400: #F9AE70;
  --color-fnqwenpaw-500: #F69448;
  --color-fnqwenpaw-600: #D47730;
  --color-fnqwenpaw-700: #AA5A20;
  --color-fnqwenpaw-800: #86441A;
  --color-fnqwenpaw-900: #6E3416;
  --color-fnqwenpaw-950: #3E1A08;
}

:root {
  --ui-container: var(--container-8xl);
}
